
.clipped {
  width: 200px;
  height: 200px;
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

.chara-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  height: 100vh;
  /* flex-direction: column; */
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
.chara-card-container::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
 
.clipped-select-button {  
  mix-blend-mode: multiply;
  -webkit-clip-path: url(#select-button-path);
  clip-path: url(#select-button-path);
}